<div class="container">
    <div class="izq">
        <div class="text">
            ¡La realidad aumentada que llega para que visites los sitios a los que quieres ir, antes de ir!
        </div>
        <div class="img">
            <img class ="img1"  src="/assets/Experiencias/Image.png"  alt="Imagen de la experiencia 360">
        </div>
    </div>
    <div class="experiencia">
        <img class = "exp1" src="/assets/Experiencias/Image2.png"  alt="Imagen de la experiencia 360">
    </div>
</div>