.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    background-color: #FFFFFF;
}

.logo {
    width: 445px;
    height: 568px;
    margin-top: -50px;
}

.title {
    margin-left: 35%;
    margin-top: 40px;
    margin-bottom: 55px;
    font-size: 32px;
    color: #000000;
}

.login-form {
    background-color: #FFFFFF;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
}
.login-title{
    font-size: 32px;
    color: #1A1A1A;
    margin-bottom: 28px;
    font-weight: bold;
}

.label-up-email {
    background-color: #F4F4F4;
    border-radius: 10px;
    width: 352px;
    height: 52px;
    margin: 0%;
    transition: transform 0.4s ease;
}
    .label-up-email:hover {
        transform: scale(1.005);
    }
.label-up-password {
    margin-top: 20px;
    background-color: #F4F4F4;
    border-radius: 10px;
    width: 352px;
    height: 52px;
    transition: transform 0.4s ease;
}
.label-up-password:hover {
    transform: scale(1.005);
}

.label1{
    font-size: 17px;
    color: #4A4A4A;
    padding-left: 12px;
    padding-top: 8px;
    margin-bottom: 0px;
    
}
.input1 {
    margin-left: 10px;
    color: #6e6d6d;
    width: 80%;
    border: 1px solid #F4F4F4;
    background-color: #F4F4F4;
    user-select: none;
}

.label-up-checks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
}
.remember-me {
    margin-right: 75px;
    display: flex;
    align-items: center;
}

.login-btn {
    width: 359px;
    height: 44px;
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px;
    font-size: 17px;
    border : solid 2px #ff0000be;
    box-shadow: 0px 8px 10px #ff00007c; 
    transition: transform 0.4s ease;
}
.login-btn:hover {
    transform: scale(1.02);
}

.forgot-password-link {
    color: #FF0000;
    text-decoration: none; 
}


.social-login {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.facebook-btn {
    width: 81px;
    height: 36px;
    background-color: #d1e3ff;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-image: url('/assets/Inicio-sesion/facebook.png');
    background-repeat: no-repeat;
    background-position: center; 
    transition: transform 0.4s ease;
}
.facebook-btn:hover {
    transform: scale(1.09);
}

.google-btn {
    margin-right: 10px;
    width: 81px;
    height: 36px;
    background-color: #FEF1F1;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-image: url('/assets/Inicio-sesion/chrome.png');
    background-repeat: no-repeat;
    background-position: center; 
    transition: transform 0.4s ease;
}
.google-btn:hover {
    transform: scale(1.09);
}

.twitter-btn {
    margin-left: 10px;
    width: 81px;
    height: 36px;
    background-color: #0000002f;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-image: url('/assets/Inicio-sesion/twitter.png');
    background-repeat: no-repeat;
    background-position: center; 
    transition: transform 0.4s ease;
}
    .twitter-btn:hover {
        transform: scale(1.09);
    }
    .circle {
        position: absolute;
        top: 30%;
        right: -60px;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 125px;
        background-color: #E70000;
        border-radius: 125px 125px 0 0;
        overflow: hidden;
        transform: rotate(270deg);
    }
    
    .rectangle {
        position: absolute;
        top: 100%;
        right: -50px;
        transform: translate(-50%, -50%);
        width: 107px;
        height: 380px;
        border-radius: 25px 0 0 25px;
        background-color: #E70000;
    }

.big-circle {
    position: absolute;
    top: 60%;
    left: -2%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    background-color: #E70000;
    border-radius: 50%;
}

/*responsive*/

/* Estilos para tabletas (pantallas de 768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .hide-on-mobile {
        display: none;
    }
    .login-title{
        font-weight: bold;
    }
    .container{
        margin-top: 200px;
        margin-left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .login-form {
        width: 90%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
    .logo {
        width: 400px;
        height: 450px;
        margin-top: 170px;
        border-radius: 50%;
    }
}

/* Estilos para móviles (pantallas menores a 768px) */
@media (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }
    .login-title{
        font-weight: bold;
    }
    .container{
        margin-top: 200px;
        margin-left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .login-form {
        width: 90%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
    .logo {
        width: 400px;
        height: 450px;
        margin-top: 170px;
        border-radius: 50%;
    }
    .login-btn {
        width: 200px;
    }
    .label-up-email {
        width: 300px;
    }
    .label-up-password {
        width: 300px;
    }

}
