<app-barra-navegacion></app-barra-navegacion>
<h1 class="title hide-on-mobile">¡La nueva forma de planear tu viaje!</h1>
<div class="circle hide-on-mobile"></div>
<div class="rectangle hide-on-mobile"></div>
<div class="big-circle hide-on-mobile"></div>
<div class="container">
    <div class="login-form">
        <div class="login-title">Iniciar sesión</div>
        <div class="label-container">
            <div class="label-up-email">
                <h4 class="label1">Email</h4>
                <input type="email" id="inputEmail" class="input1">
            </div>
            <div class="label-up-password">
                <h4 class="label1">Contraseña</h4>
                <input type="password" id="inputPassword" class="input1">
            </div>
        </div>
        <div class="label-up-checks">
            <div class="remember-me">   
                <input type="checkbox" id="remember">
                <label for="remember" class="label">Recordarme</label>
            </div>
            <a href="#" class="forgot-password-link">¿Olvidaste tu contraseña?</a>
        </div>
        <div>
            <button class="login-btn" (click)="iniciarSesion()">Iniciar sesión</button>
        </div>
        <div class="social-login">
            <button class="google-btn"></button>
            <button class="facebook-btn"></button>
            <button class="twitter-btn"></button>
          </div>
    </div>
    <img src="/assets/Inicio-sesion/side.png" class="logo">
  </div>