<h1 class="title">¡La nueva forma de planear tu viaje!</h1>
<div class="circle"></div>
<div class="rectangle"></div>
<div class="big-circle"></div>
<div class="container">
    <div class="login-form">
        <div class="login-title">Iniciar sesión</div>
        <div class="label-container">
            <div class="label-up-email">
                <h4 class="label1">Email</h4>
                <input type="email" class="input1">
            </div>
            <div class="label-up-password">
                <h4 class="label2">Contraseña</h4>
                <input type="password" class="input2">
            </div>
        </div>
        <div class="label-up-checks">
            <div class="remember-me">   
                <input type="checkbox" id="remember">
                <label for="remember" class="label">Recordarme</label>
            </div>
            <a href="#" class="forgot-password-link">¿Olvidaste tu contraseña?</a>
        </div>
        <div>
            <button class="login-btn" (click)="iniciarSesion()">Iniciar sesión</button>
        </div>
        <div class="social-login">
            <button class="google-btn"></button>
            <button class="facebook-btn"></button>
            <button class="twitter-btn"></button>
          </div>
    </div>
    <img src="/assets/Inicio-sesion/side.png" class="logo">
  </div>