.img{
    width: 276px;
    height: 300px;
    border-radius: 15px;
    transition: transform 0.6s ease;
}
.img:hover {
    transform: scale(1.02);
}
.place{
    font-size: 20px;
}
.money{
    font-size: 12px;
    color: #949494;
}