
/* Estilos para móviles (pantallas menores a 768px) */
@media (max-width: 753px) {
    .big-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .container-descripcion {
        width: 75%;
        height: 700px;
        margin-left: 0px;
        top: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-agregar {
        width: 75%;
        margin-left: 0px;
        justify-content: center;
        align-items: center;
    }
    .plus {
        font-size: 40px;
    }
    .text-plus {
        font-size: 40px;
    }
    .ticket-info {
        margin-left: 7px;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        margin-left: 40px;
        width: 240px;
    }
    .nombre-tiquete, .titulo-tiquete{
        font-size: 17px;
    }
    .imagenes {
        scale: 52%;
        margin-bottom: 5px;
    }
    .disponible {
        margin-left: 0px;
        margin-top: 0px;
    }
    .ventas {
        margin-left: 0px;
        margin-top: -50px;
    }
    .ventas-container {
        margin-top: 80px;
        margin-left: 0px;
    }
    .descripcion-texto {
        margin-left: 0px;
        margin-top: -50px;
    }
}