<!-- Barra de navegación para cuenta empresaria -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="izquierda">
            <!-- Logo de la aplicación -->
            <a class="navbar-brand" [class.active]="selectedTab == 'logoB'">
                <img src="/assets/barras-navegacion/LogoB.png" (click)="selectTab('logoB')" alt="Logo de TripTico">
            </a>

            <div class="nav-item">
                <a class="nav-link" (click)="selectTab('misTuristicos')">Mis sitios turisticos</a>
            </div>
            
            <div class="nav-item">
                <a class="nav-link"  (click)="selectTab('misGanancias')">Mis ganancias</a>
            </div>
        </div>
        <div class="derecha">
            <!-- Logo de pesos "COP" -->
            <a class="navbar-brand hide-on-mobile" [class.active]="selectedTab == 'moneda'">
                <img class="moneda-img" src="/assets/barras-navegacion/moneda.png" (click)="selectTab('moneda')" alt="Moneda">
            </a>

            <!-- Logo de Languaje "world" -->
            <a class="navbar-brand hide-on-mobile" [class.active]="selectedTab == 'world'">
                <img class="world-img" src="/assets/barras-navegacion/world.png" (click)="selectTab('world')" alt="world">
            </a>
            
            <!-- Logo de usuario -->
            <a class="navbar-brand" [class.active]="selectedTab == 'photoUser'">
                <img class="user-img" src="/assets/barras-navegacion/User.png" (click)="selectTab('photoUser')" alt="User">
            </a>
        </div>
    </div>
  </nav>