.text-agregar{
    margin-top: 20px;
    display: flex;
    font-size: 50px;
    justify-content: center;
}
.container-agregar{
    display: flex;
    flex-direction: column; 
    margin-top: 10px;
    margin-left: 130px;
    width: 1338px;
    height: 590px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.39); 
    border-color: #ccc;
}
.agregar-img{
    display: flex;
    width: 100%;
    height: 40px;
    flex-direction: row; 
    width: 100%;
}
.agregar-img-text{
    display: flex;
    font-size: 28px;
}
.agregar-img-button{
    margin-left: auto;
}
.button-agregar{
    width: 82px;
    height: 36px;
    border: none;
    border-radius: 18px;
    background-color: red;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.container2-agregar{
    display: flex;
    height: 100%;
}
.pothos-container {
    cursor: pointer;
    display: flex;
    width: 600px;
    height: 300px;
    display: grid;
    margin: 20px auto;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}
.small{
    margin-bottom: 16px;
}
.rigth{
    margin-left: 20px;
}
.insertar-360{
    display: flex;
    flex-direction: column;
    width: 615px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.39); 
    border-color: #ccc;
}
.text-insertar{
    font-style: bold;
    display: flex;
    font-size: 28px;
    justify-content: center;
    margin-top: 20px;
}
.input-insertar {
    margin-left: 23px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 560px;
    height: 47px;
    background: #FAFAFAFF;
    border-radius: 18px;
    border-width: 2px;
    border-color: #C1C1C1FF;
    border-style: dashed;
}
.text-arrastrar{
    margin-top: 10px;
    font-size: 24px;
}
.buttons-insertar{
    display: flex;
    width: 171px;
    height: 36px;
    flex-direction: row;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 30px;
}
.button-subir{
    width: 80px;
    height: 34px;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.button-cancelar{
    width: 80px;
    height: 34px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #949494;
    font-size: 15px;
    cursor: pointer;
}
.flex2-agregar {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.input-container {
    background-color: #F4F4F4;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 529px;
    height: 55px;
    margin-left: 90px;
}

.input-container label {
    margin-top: 4px;
    display: block;
    font-weight: bold;
    margin-left: 9px;
}

.input-container input {
    background-color: #F4F4F4;
    width: 500px;
    border: 1px solid #F4F4F4;
    border-radius: 4px;
    margin-left: 6px;
}
.text-disponibilidad{
    font-size: 24px;
    margin-left: 90px;
}
.chose-day{
    display: flex;
    flex-direction: row;
    width: 430px;
    height: 95px;
    margin-left: 150px;
    margin-top: 35px;
    margin-bottom: 10px;
}
.chose-inf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f3f2f2;
    border-radius: 10px;
    width: 72px;
    height: 90px;
    margin-right: 15px;
    transition: background-color 0.3s;
}
.text-chose{
    font-size: 16px;
    margin-left: 18px;
}
.chose{
    margin-left: 23px;
    font-size: 22px;
    transition: color 0.3s;
}
.chose-inf:hover {
    background-color: #FFF0F0;
    border: 3px solid #CF0000;
}

.chose-inf:hover .chose {
    color: #CF0000;
}
.text-precio{
    font-size: 24px;
    margin-left: 90px;
}
.dinero {
    display: flex;
    width: 600px;
    height: 130px;
    margin-left: 110px;
}
.plus {
    font-size: 80px;
    background: none;
    border: none;
    cursor: pointer;
}
.minus {
    font-size: 80px;
    background: none;
    border: none;
    cursor: pointer;
}
.num {
    font-style: bold;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    font-size: 40px;
}

@media (min-width: 1220px) and (max-width: 1588px) {
    .text-agregar{
        margin-top: 20px;
        font-size: 50px;
    }
    .container-agregar{
        margin-left: 0px;
        width: 90%;
        
    }
    .big{
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
    }
    .input-container {
        background-color: #F4F4F4;
        margin-bottom: 30px;
        border-radius: 10px;
        width: 400px;
        height: 55px;
        margin-left: 90px;
    }
    
    .input-container label {
        margin-top: 4px;
        display: block;
        font-weight: bold;
        margin-left: 9px;
    }
    
    .input-container input {
        background-color: #F4F4F4;
        width: 300px;
        border: 1px solid #F4F4F4;
        border-radius: 4px;
        margin-left: 6px;
    }
    .text-disponibilidad{
        width: 300px;
    }
    .chose-day{
        margin-left: 50px;
    }
    .text-precio{
        width: 300px;
    }
    .num{
        margin-left: 20px;
        margin-right: 20px;
    }
    .flex-img{
        transform: scale(0.75);
    }
    .dinero{
        width: 300px;
    }
}

@media (min-width: 711px) and (max-width: 1219px) {
    .text-agregar{
        margin-top: 20px;
        font-size: 50px;
    }
    .container-agregar{
        margin-left: 0px;
        width: 85%;
        height: 1250px;
    }
    .big{
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
    }
    .container2-agregar{
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .buttons-insertar{
        margin-left: 0px;
        margin-right: 0px;
    }
    .insertar-360{
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

}
@media (max-width: 710px) {
    .text-agregar{
        margin-top: 20px;
        font-size: 35px;
    }
    .container-agregar{
        margin-left: 0px;
        width: 75%;
        height: 1250px;
    }
    .big{
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
    }
    .container2-agregar{
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .input-container {
        background-color: #F4F4F4;
        margin-bottom: 30px;
        margin-left: 0px;
        border-radius: 10px;
        width: 300px;
        height: 55px;
    }
    .input-container label {
        margin-top: 4px;
        display: block;
        font-weight: bold;
        margin-left: 0px;
    }
    .input-container input {
        background-color: #F4F4F4;
        width: 200px;
        border: 1px solid #F4F4F4;
        border-radius: 4px;
        margin-left: 0px;
    }
    .text-disponibilidad{
        width: 200px;
    }
    .chose-day{
        margin-left: 0px;
        width: 350px;
    }
    .text-precio{
        width: 200px;
    }
    .num{
        margin-left: 20px;
        margin-right: 20px;
    }
    .flex-img{
        transform: scale(0.5);
        margin-left: -100px;
    }
    .dinero{
        width: 200px;
        margin-left: 10px;
    }
    .plus, .minus{
        font-size: 20px;
        margin-left: 0px;
    }
    .text-insertar{
        font-style: bold;
        display: flex;
        font-size: 28px;
        justify-content: center;
    }
    .insertar-360{
        flex-direction: column;
        align-items: center;
        justify-items: center;
        width: 300px;
        margin-left: 20px;
    }
    .input-insertar {
        width: 250px;
        margin-left: 0px;
    }
    .buttons-insertar{
        margin-left: 0px;
        margin-right: 0px;
    }
    .flex1-agregar{
        width: 330px;
    }
    .text-insertar{
        font-size: 20px;
    }
    
}