.container{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin-left: 45px;
    margin-top: 30px;
    width: 1000px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 35px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.39); 
    border-color: #ccc;
}
.head{
    margin-top: 35px;
    margin-left: 45px;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}
.head2{
    margin-top: 20px;
    margin-left: 45px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #979797;
}
.ticket-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}
.titulo-tiquete{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}
.nombre-tiquete{
    font-size: 20px; 
    margin-bottom: 5px; 
}
.ticket-seter {
    display: flex;
    
  }
  
.ticket-container {
    padding-left: 170px;
    background-image: url('/assets/Detalles/ticket.png');
    background-size: cover; 
    width: 642px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 18px;
    color: #333;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: left; 
}

.ticket-info1 {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-right: 30px;
}

.qr-code {
    background-size: cover; 
    align-self: flex-end; 
    margin-bottom: 40px; 
    margin-right: 170px;
}

.ticket-container .nombre-tiquete {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}

.ticket-container .tipo {
    font-size: 23px; 
    margin-bottom: 5px; 
}

.ticket-container .precio-tiquete {
    font-size: 23px; 
}


/*responsive*/

/* Estilos para tabletas (pantallas de 768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .head{
        font-size: 26px;
    }
    .head2{
        flex-wrap: wrap;
    }
    .container{
        width: 750px;
        height: 300px;
    }
    .ticket-seter {
        justify-items: center;
        align-items: center;
        
    }
}

/* Estilos para móviles (pantallas menores a 768px) */
@media (max-width: 767px) {
    .head{
        margin-left: 0px;
        font-size: 26px;
    }
    .head2{
        margin-left: 0px;
        flex-wrap: wrap;
    }
    .hide-on-mobile {
        display: none;
    }
    .container{
        width: 250px;
        height: 200px;
        margin-left: 0px;
    }
    .ticket-container {
        width: 300px;
        height: 230px;
        margin-left: -30px;
    }
    .ticket-info1{
        width: 200px;
        margin-left: -50px;
        margin-right: 0px;
    }
    .ticket-container .nombre-tiquete, .ticket-container .tipo, .ticket-container .precio-tiquete{
        font-size: 15px;
    }
    .cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-top: 0px;
    }
}