<div class="head">
    MIS TIQUETES:
</div>
<div>
    <div class="head2">
        VIGENTES:
    </div>
    <div class="container">
        <div class="ticket-seter">
            <div class="ticket-container">
                <div class="ticket-info1">
                    <span class="nombre-tiquete">Museo Nacional - Bogotá</span>
                    <span class="tipo">1 Ticket (ADULTO)</span>
                    <span class="precio-tiquete">40.000 COP</span>
                </div>
                <div class="qr-code">
                    <img src="/assets/Reservas/Qr.png" alt="Imagen de la experiencia 360">
                </div>
            </div>
        </div>
        <div class="ticket-info">
            <div class="ticket-info">
                <span class="titulo-tiquete">Tiquete:</span>
                <span class="nombre-tiquete">Museo Nacional - Bogota</span>
            </div>
            <div class="ticket-info">
                <span class="titulo-tiquete">Personas:</span>
                <span class="nombre-tiquete">1 Persona</span>
            </div>
            <div class="ticket-info">
                <span class="titulo-tiquete">Vigencia:</span>
                <span class="nombre-tiquete">21 de Julio de 2024</span>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="head2">
        EXPIRADOS:
    </div>
    <div class="container">
       <div class="ticket-seter">
            <div class="ticket-container">
                <div class="ticket-info1">
                    <span class="nombre-tiquete">Catarata La Fortuna</span>
                    <span class="tipo">1 Ticket (ADULTO)</span>
                    <span class="precio-tiquete">1500.000 COP</span>
                </div>
                <div class="qr-code">
                    <img src="/assets/Reservas/Qr.png" alt="Imagen de la experiencia 360">
                </div>
            </div>
        </div>
        <div class="ticket-info">
            <div class="ticket-info">
                <span class="titulo-tiquete">Tiquete:</span>
                <span class="nombre-tiquete">Catarata La Fortuna</span>
            </div>
            <div class="ticket-info">
                <span class="titulo-tiquete">Personas:</span>
                <span class="nombre-tiquete">1 Persona</span>
            </div>
            <div class="ticket-info">
                <span class="titulo-tiquete">Vigencia:</span>
                <span class="nombre-tiquete">30 de Octubre de 2024</span>
            </div>
        </div>
    </div>
</div>