.button-subir{
    width: 80px;
    height: 34px;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.button-cancelar{
    width: 80px;
    height: 34px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #949494;
    font-size: 15px;
    cursor: pointer;
}
.flex2-agregar {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.input-container {
    background-color: #F4F4F4;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 529px;
    height: 55px;
    margin-left: 90px;
}

.input-container label {
    margin-top: 4px;
    display: block;
    font-weight: bold;
    margin-left: 9px;
}

.input-container input {
    background-color: #F4F4F4;
    width: 500px;
    border: 1px solid #F4F4F4;
    border-radius: 4px;
    margin-left: 6px;
}