<div class="Container">
    <div class="search-container">

    </div>
    <div class="img1">
        <img class="img" src="/assets/donde-ir/Image.png" alt="Img edge">
        <div class="travel-text">Vive un mundo nuevo</div>
    </div>
    <div class="sub1">
        <div class="text1">EL PODER DE DISFRUTAR COMO TE GUSTA</div>
    </div>
    <div class="places">
        <app-card 
        [imageSrc]="'/assets/donde-ir/museo-oro.png'" 
        [placeText]="'Museo del Oro - Bogota'" 
        [moneyText]="'$50000'"
        (cardClicked)="verDetalles(1)"
        ></app-card>
        <app-card 
        [imageSrc]="'/assets/donde-ir/cataratas.png'" 
        [placeText]="'Catarata La Fortuna'" 
        [moneyText]="'$150000'"
        (cardClicked)="verDetalles(2)"
        ></app-card>
        <app-card 
        [imageSrc]="'/assets/donde-ir/museo-nacional.png'" 
        [placeText]="'Museo Nacional'" 
        [moneyText]="'$40000'"
        (cardClicked)="verDetalles(3)"
        ></app-card>
        <app-card 
        [imageSrc]="'/assets/donde-ir/volcan.png'" 
        [placeText]="'Volcán Arenal'" 
        [moneyText]="'$50000'"
        (cardClicked)="verDetalles(4)"
        ></app-card>
    </div>
    <div class="sub2">
        <div class="text2">EXPLORA LA NUEVA FORMA DE VIAJAR</div>
        <img class="imgT" src="/assets/donde-ir/tico.png" alt="Img edge">
    </div>
    <div class="img2">
        <div class="imgC">
            <img class="imgD" src="/assets/donde-ir/Image1.png" alt="Img edge">
            <div class="imgQ">¿Quieres saber ir más allá ?</div>
            <button class="experience">Experiencias</button>
        </div>
        <div class="imgC">
            <img class="imgD" src="/assets/donde-ir/Image2.png" alt="Img edge">
            <div class="imgN">No tienes que salir de casa aun</div>
            <button class="experienceon">Experiencia Online</button>
        </div>
    </div>
</div>