.img1{
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.imgC{
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.img{
    width: 60%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.6s ease;
}
.img:hover {
    transform: scale(1.02);
}
.travel-text{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 300%;
    color: white;
    text-align: center;
}
.sub1{
    left: 50%;
    display: flex;
    margin-top: 80px;
    margin-bottom: 60px;
}
.places{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.imgT{
    position: relative;
    border-radius: 15px;
    transition: transform 0.6s ease;
}
.sub2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 20px;
}
.img2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    gap: 10px;
}
.imgD{ 
    width: 476px;
    height: 526px;
    border-radius: 22px;
}
.imgQ{
    position: absolute;
    width: 360px;
    height: 112px;
    transform: translate(3%, 320%);
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: left;
}
.imgN{
    position: absolute;
    width: 300px;
    height: 112px;
    position: absolute;
    transform: translate(20%, 70%);
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: right;
    
}
.text1{
    position: absolute;
    left: 35%;
    font-size: 24px;
}
.text2{
    font-size: 24px;
}
.experience {
    position: absolute;
    top: 78%;
    left: 35%; 
    transform: translate(10%, 10%);
    padding: 9px 16px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: #333333;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
}
.experienceon {
    position: absolute;
    top: 33%;
    left: 63%; 
    transform: translate(10%, 10%);
    padding: 9px 16px;
    background-color: white;
    border: none;
    color: #333333;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
}

/*responsive*/

/* Estilos para tabletas (pantallas de 768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .travel-text {
        font-size: 200%; /* Reducir el tamaño de la fuente para pantallas más pequeñas */
    }
    .text1{
        font-size: 100%;
    }
    .text2{
        font-size: 100%;
    }
    .imgD{ 
        width: 70%;
        height: 30%;
    }
    .imgQ{ 
        position: absolute;
        font-size: 23px;
        width: 260px;
        height: 40px;
        transform: translate(0px, 190px);
        text-align: center;
    }
    .imgN{ 
        position: absolute;
        font-size: 23px;
        width: 260px;
        height: 40px;
        transform: translate(0px, 145px);
        text-align: center;
    }
    .img2{
        gap: 2px;
    }
    .experienceon {
        top: 70%;
        left: 30%; 
    }
    .img{
        width: 300px;
        height: auto;
        border-radius: 15px;
        transition: transform 0.6s ease;
    }

}

/* Estilos para móviles (pantallas menores a 768px) */
@media (max-width: 767px) {
    .travel-text {
        font-size: 100%; /* Reducir aún más el tamaño de la fuente para pantallas móviles */
    }
    .text1{
        font-size: 100%;
    }
    .text2{
        font-size: 100%;
    }
    .imgQ{ 
        position: absolute;
        font-size: 22px;
        width: 260px;
        height: 40px;
        transform: translate(0px, 182px);
        text-align: center;
    }
    .imgN{ 
        position: absolute;
        font-size: 22px;
        width: 260px;
        height: 40px;
        transform: translate(0px, 141px);
        text-align: center;
    }
    .imgD{ 
        width: 70%;
        height: 30%;
    }
    .experienceon {
        top: 72%;
        left: 30%; 
    }
    .img{
        width: 300px;
        height: auto;
        border-radius: 15px;
        transition: transform 0.6s ease;
    }
}