.big-container{
    display: flex;
    flex-direction: column;
}
.small{
    margin-bottom: 16px;
}
.plus{
    font-size: 400px;
    font-weight: bold;
}
.text-plus{
    font-size: 100px;
    font-weight: bold;
}
.descripcion-texto{
    width: 360px;
    margin-left: 30px;
}
.ticket-info{
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.nombre-tiquete{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;

}
.titulo-tiquete{
    font-size: 25px; 
    margin-bottom: 10px; 
}
.ventas-container{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin-left: 45px;
    margin-top: 30px;
    width: 280px;
    height: 90px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 35px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.39); 
    border-color: #ccc;
}

.pothos-container {
    display: flex;
    width: 600px;
    height: 300px;
    display: grid;
    margin: 40px auto;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
  }
  
.container-descripcion{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin-left: 90px;
    margin-top: 30px;
    width: 1380px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 35px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.39); 
    border-color: #ccc;
}
.container-agregar{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin-left: 90px;
    margin-top: 30px;
    width: 1380px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 35px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.39); 
    border-color: #ccc;
}
.ventas-text{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #9F9F9F;
}
.num-text{
    font-size: 50px;
    font-weight: bold;
}
.img1{
    width: 96px;
    height: 96px;
    margin-left: 30px;
}
.num-num{
    font-size: 20px;
    color: #00EE4F;
}
.disponible {
    border-radius: 13px;
    display: flex;
    justify-content: center; /* Alinea los botones al centro horizontalmente */
    align-items: center; 
    width: 240px;
    height: 42px;
    background-color: #00EE4F;
}

.boton-disponible{
    margin-left: 2px;
    width: 190px;
    height: 38px;
    font-size: 16px;
    border-radius: 13px;
    color: #007126;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.boton-desactivar {
    margin-right: 3px;
    width: 190px;
    height: 38px;
    font-size: 16px;
    border-radius: 13px;
    color: #007126;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    
}

.boton-disponible:hover, .boton-disponible:focus, .boton-desactivar:hover, .boton-desactivar:focus {
    background-color: darken(#00EE4F, 10%); /* Oscurece el fondo al pasar el mouse o enfocar */
}

.boton-disponible:active, .boton-desactivar:active {
    background-color: lighten(#00EE4F, 10%); /* Aclara el fondo al hacer clic */
}
